.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    height: 90px;
    width: 100%;
    z-index: 5;
}

.header-bg{
    background-color: rgba(0, 0, 0, 0.85);
    transition: 0.5s;
}

.nav-menu {
    display: flex;
}

.nav-menu li{
    padding: 0 1rem;
}

.nav-menu li a {
    font-size: 1.2rem;
    font-weight: 500;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 1040px) {
    .nav-menu{
        flex-direction: column;
        justify-items: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);

        position: absolute;
        top: 3%;
        left: -120%;
        right: 50%;
        z-index: -3;
        transition: 0.3s;
    }

    .nav-menu.active{
        left: 1%;
        
    }

    .nav-menu li{
        padding: 1rem 0;
    }
    
    .nav-menu li a{
        font-size: 2rem;
    }

    .hamburger{
        display: initial;
    }
    
}